/* цвет вторичного  текста #212121 */
/* цвет основного текста #757575 */
/* цвет лого #2196F3 и #000000 */
/* цвет акцента #2196F3 */
/* цвет адреса в футере  rgba(255, 255, 255, 0.6) */
/* цвет лого в футере  #FFFFFF и #2196F3*/
/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #2F303A  и #F5F4FA */

/* Утилиты */
.html {
    box-sizing: border-box;
}
 *,
 *::before,
 *::after {
    box-sizing: inherit;
 }

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acent-color: #2196F3;
    --bcg-button-color: #F5F4FA;
    --white-text-color: #FFFFFF;
}
body {
    background-color: var(--white-text-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

    margin: 0;
}
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

/* header  */
.header {
    /* background-color: #FFFFFF; */
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

}

.header-logo {
    /* display: inline-block; */

    color: var(--acent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;

    text-decoration: none;
}

.header-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px; 

   color: var(--title-text-color);
   text-decoration: none;
}

.header-nav .link:hover, 
.header-nav .link:focus {
    color: var(--acent-color);
}

.header-nav .link.current {
    color: var(--acent-color);
}

.header-address {
    display: flex;
    margin-left: auto;
}
.header-address .item + .item {
    margin-left: 60px;
}

.header-address a {
    color: var(--primary-text-color);
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px; 
}
.header-address a:hover,
.header-address a:focus {
    color: var(--acent-color);
}
  
.main-nav {
    display: flex;

    align-items: center;
}

header nav {
    width: 100%;
}

.header-nav {
    display: flex;
    margin-left: 93px;
}
.header-nav .item:not(:last-child) { 
    margin-right: 50px;
}

/* hero */
.hero {
    background-color: #2F303A;
    text-align: center;
    
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 0;
}


/* button */
.button {
    color: #FFFFFF;
    background-color: #2196F3;

    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;

}
.button.hero {
    display: inline-block;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;
    min-width: 200px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */

    padding: 10px 32px;
    margin-top: 30px;
    
}

button.primary {
    color: var(--title-text-color);
    background-color: var(--bcg-button-color);
}

.button.primary:hover,      
.button.primary:focus {
    color: var(--white-text-color);
    background-color: var(--acent-color);
}


/* sections */
.section-title {
    color: var(--title-text-color);
    font-style: 400;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 0;
    
}
.section {
    background-color: var(--white-text-color);

    padding-top: 94px;
    padding-bottom: 94px;
}
.section.no-padding {
    padding-top: 0;
}

/* Features */
.feature-list .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 0;
}
.feature-list p{
    font-size: 14px;
    line-height: 1.7;

    margin-top: 10px;
    margin-bottom: 0;
}
.feature-list {
    display: flex;
}
.feature-list li {
    width: 270px;
    width: calc((100% - 3 * 30px)/4);
    margin-right: 30px;
}
.feature-list li:nth-last-child(-n + 1) {
    margin-right: 0;
}

/* Our work */

/* .work-list .title {
    color: var(--title-text-color);

    margin-top: 0;
    margin-bottom: 0;
} */

.work-list.list {
    display: flex;

    margin-top: 50px;
}
.work-item {
    width: 370px;
    margin-right: 30px;
}
.work-item:nth-last-child(-n + 1) {
    margin-right: 0;
}

/* our team */
.section-team {
    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 1.19;

    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list .title {
    color: var(--title-text-color);
    font-size: 16px;

    text-align: center;

    margin-top: 30px;
    margin-bottom: 0;
    
}
.team-list p {
    margin-top: 10px;
    margin-bottom: 30px;

    text-align: center;
}

.team-list.list {
    display: flex;

    margin-top: 0px;
    margin-bottom: 0; 
}

.team-list li {
    width: calc((100%-3*30px)/4);

    background-color: var(--white-text-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    margin-right: 30px;
    margin-top: 50px;
}
.team-list li:nth-last-child(-n + 1) {
    margin-right: 0;
}

/* footer */
.address {
    background-color: #2F303A;
    font-size: 14px;
    line-height: 1.7;

    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-addres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer-addres a {
    display: block;
    width: 231px;
}

.address .logo{
    display: inline-block;
    color: var(--acent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}

.address .maps {
    display: inline-block;
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;

    margin-top: 20px;

}
.address .mail-and-tel {

    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    text-decoration: none;

    margin-top: 9px;

}

/* page item */
.section-portfolio p{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;

    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
}

.section-portfolio .link{
    display: inline-block;

    text-decoration: none;
    color: var(--title-text-color);

}
.section-portfolio .filter.list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    margin-bottom: 34px;

}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px;
}
.section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--white-text-color);
}
.filter {
    display: flex ;
    justify-content: center;
}
.filter li {
    margin-right: 8px;
}
.filter li:nth-last-child(-n + 1) {
    margin-right: 0;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;

}

.flex-element {
    width: 370px;
    /* width: calc((100% - 60px)/3); */
    margin-right: 30px;
    margin-bottom: 30px;

    outline: 1px solid #EEEEEE; 
}
.flex-element:nth-child(3n) {
    margin-right: 0;
    }
.flex-element:nth-last-child(-n+3) {
    margin-bottom: 0;
}